.showForm {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(85, 137, 165);
    padding: 0px;
}

h3 {
    margin: 50px 0;
    font-size: 37px;
    color: rgb(85, 137, 165);

}

.dashboard-title {
    display: flex;
    align-items: center;
    max-width: 400px;
    justify-content: space-between;
}

.password-wrap {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;


}