

.button {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    border: none;
    z-index: 11;
    position: relative;
}

.button-effect {
    content: '';
    padding: 30px 10px 20px;
    position: relative;
    top: -53px;
    z-index: 10;
    
}