.auth-wrap {
  max-width: 1000px;
  margin: 140px auto;
  display: flex;
  align-items: center;
}

form {
    width: 50%;
}

.auth-form-value {
  outline: none;
  border: none;
  border-bottom: 1.5px solid rgb(114, 113, 113);
  padding: 5px;
  margin: 15px 0 10px;
  width: 100%;
}

.auth-form-value-invalid {
    border-color: rgb(255, 98, 98);
}

label {
    margin: 10px 0;
}

.auth-button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    background-color: #5589A5;
    color: #fff;
    border: none;
    z-index: 11;
    position: relative;
}

.auth-button-effect {
    width: 103%;
    background-color: rgb(183, 224, 183);
    padding: 30px 10px 20px;
    position: relative;
    top: -53px;
    z-index: 10;
}

.auth-title {
    max-width: 80%;
    padding: 80px 20px 60px;
    font-size: 45px;
    background-color: rgb(254, 240, 163);
    line-height: 50px;

}

.auth-desc {
    max-width: 50%;
    background-color: rgb(168, 210, 255);
    position: relative;
    top: -49px;
    right: -160px;
    padding: 15px;
    font-size: 13px;
    line-height: 18px;
}

.auth-banner {
    width: 100%;
}

.auth-error {
    color: rgb(255, 98, 98);
    font-weight: bolder;
    font-size: 14px;
}