* {
  padding: 0;
  margin: 0;
}

.header-wrap {
  background-color: #a8d2ff;
  padding: 20px;
  color: #fff;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #fff;
  color: #a8d2ff;
  font-weight: bolder;
  border: none;
  padding: 10px 15px;
  
}

.button {
    margin-left: 15px;
}
