.passwordCard-wrap {
  border: 2px solid #a8d2ff;
  padding: 20px 15px;
  width: 400px;
  height: 280px;
  margin-bottom: 35px;
}

.passwordCard-account > h4,
.passwordCard-password > h4 {
  color: rgb(158, 158, 158);
  margin-top: 8px;
  padding: 8px 0;
  font-weight: bolder;
  font-size: 16px;
}

.delete-block, .edit-block{
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  width: 380px;
}

.edit-block {
  margin-top: 10px;
  padding-right: 20px;
  gap: 5px;
}

.delete {
  color: rgb(251, 120, 120);
}

input {
  border: none;
}

.cancel {
  color: rgb(251, 120, 120);
  padding: 4px;
  border: solid 1px rgb(251, 120, 120);
  width: 80px;
}

.save {
  color: rgb(85, 137, 165);
  padding: 4px;
  border: solid 1px rgb(85, 137, 165);
  width: 80px;
}

.visibility {
  color: rgb(218 217 217);
  margin-left: -18px;
  font-size: 20px;
}

.password-input {
  padding: 6px 0;
  font-size: 14px;
  border-bottom: 2px solid #a8d2ff;
}

.editshown {
  display: block;
}

.editNoShown {
  visibility: hidden;
}