.password-form {
    background-color: #A8D2FF;
    color: #fff;
    max-width: 400px;
    padding: 20px;
    font-size: 15px;
}

.password-form-values > p {
    margin: 15px 0;
    
}

.password-form-input {
    padding: 8px 0;
    color: #A8D2FF;
    width: 100%;
}

.add-card {
    width: 100%;
    margin: 20px 0;
    background-color: rgb(71, 211, 151);
    color: #fff;
}